
body{

    background-image: url("Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;

}
nav{
margin-right: 50px;
margin-left: 50px;
margin-top: 20px;

}

.navbar{
    color: white;

}
.navbar-brand{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
a{
    cursor: pointer;
}
.nav-item{
	padding: 30px ;
}
p{
    
font-weight: bold;
	color: white;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    
    border-radius: 20px;
}
.modal{
    float: right;
}
.dot{
    height: 25px;
    width: 25px;
    background-color: #4c5aa1;
    border-radius: 50%;

}
.sparrow{
    padding-right: 100px;padding-bottom: 50px;
}
.banner{
    padding-left: 130px;padding-top:130px;

    font-size: 70px;
    line-height:80px ;
}
.modal-content{
    background-color: white;padding:10px;

}
.cls{
    font-size: 0;
    color: black;

}
.cls.active{
    font-size: 30px;
}
.bird{
  width: 30px;height: 38px;
}
.bird.active{
    
      width: 0;height: 0;
}
.chatbox{
    background-color: white;padding:10px;float: right;right: 110px;max-width: 350px;
}
@media only screen and  (max-width: 991px){
.banner{
    padding-left: 50px;padding-top:90px;
    
    font-size: 60px;
    line-height:70px ;
}
}
@media only screen and  (max-width: 767px){

    .banner{
        font-size: 50px;
        line-height: 60px;
    }
}
@media only screen and  (max-width: 575px){

}